{% extends 'mainapp/base.html'%}
{%load static%}
{% load crispy_forms_tags %}


{%block 'banner' %}
	<!-- start banner Area -->
	<section class="banner-area relative about-banner" style="height: 250px;" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1>
						Оставить комментарий
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
{% endblock %}

{%block 'content' %}

		<form class="comment" action="/comment/create/" method="post" enctype="multipart/form-data">
				<div class="col-lg-6">

					{% csrf_token %}
					{% crispy comment_form %}

					<div class="col-lg-8 mt-30 mb-60">
						<div class="alert-msg text-left" ></div>
						<button class="genric-btn primary float-right">Отправить комментарий</button>
					</div>
				</div>
		</form>

{% endblock %}