{% extends 'mainapp/base.html'%}
{%load static%}

{%block 'banner' %}
	<!-- start banner Area -->
	<section class="banner-area relative about-banner" id="home">
		<img class="cta-img img-fluid" src="{% static 'img/contact.png' %}" width="750" alt="">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1>
						Контакты
					</h1>
					<p class="link-nav"><a href="{% url 'index' %}">Главная </a>
						<span class="lnr lnr-arrow-right grey"></span> <a href="{% url 'contact' %}">
							Контакты</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
{% endblock %}

{%block 'content' %}
	<!-- Start contact-page Area -->
	<section class="contact-page-area section-gap">
		<div class="container">

			<div class="row">

			<script type="text/javascript" charset="utf-8" async
					src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af5c5fb9cffed4660d3e8493dc17223dfbaa97717fd134c3b3a3196c53a55ef60&amp;
		width=100%25&amp;height=445&amp;margin-bottom=50&amp;lang=ru_RU&amp;scroll=true"></script>

				<div class="col-lg-4 d-flex flex-column address-wrap" style=" margin-top: 50px">
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-home"></span>
						</div>
						<div class="contact-details">
							<h5>Микрорайон Коммунар, Владимир</h5>
							<p>
								Песочная улица, 2Д
							</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-phone-handset"></span>
						</div>
						<div class="contact-details">
							<h5>+7 (904) 253-32-40</h5>
							<p>С Пн по Пт; с 9 до 17</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-envelope"></span>
						</div>
						<div class="contact-details">
							<h5>info@yogahanna.ru</h5>
							<p>Задавайте ваши вопросы в любое время!</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-file-empty"></span>
						</div>
						<div class="contact-details">
							<h5><a href="https://drive.google.com/file/d/1yODhQUp8vSJ4-n4TkHH1u1rqPN5JiZod/view"
								   target="_blank">Оферта</a></h5>

						</div>
					</div>
				</div>
				<div class="col-lg-8" style=" margin-top: 50px">

					<form class="form-area contact-form text-right" id="myForm" action="mail.php" method="post">
						<div class="row">
							<div class="col-lg-6 form-group">
								{% csrf_token %}

								{{ input_form.as_p }}
							</div>
							<div class="col-lg-6 form-group">
								{% csrf_token %}

								{{ mess_form.as_p }}
							</div>
							<div class="col-lg-12">
								<div class="alert-msg" style="text-align: left;"></div>
								<button class="genric-btn primary" style="float: right;">Отправить сообщение</button>
							</div>
						</div>




					</form>

				</div>
			</div>
		</div>
	</section>
	<!-- End contact-page Area -->
{% endblock %}
