{% extends 'mainapp/base.html'%}
{%load static%}


  	{%block 'banner' %}
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container-fluid">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 banner-img">
					<img class="img-fluid" src="{% static 'img/banner-img.png' %}"  alt="">
				</div>
				<div class="banner-content col-lg-6 col-md-6">
					<h1 class="text-uppercase">
						<span>Йога онлайн</span> с <br> Анной Флешлер <br>

					</h1>
					<a href="{% url 'training:index' %}" class="primary-btn mt-40">Оформить заказ</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	{% endblock %}

	{%block 'content' %}
<!-- Start About Us Area -->
	<section class="about-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>Как YogaHanna может изменить твою жизнь</h1>
						<p>Онлайн курсы, авторские программы, онлайн мероприятия.</p>
					</div>
				</div>
			</div>

			<div class="row justify-content-between align-items-center">
				<div class="col-lg-6 about-right">
					<div class="row">
						<div class="col-lg-6">
							<div class="single-about">
								<h4>Какие навыки обретёте</h4>
								<p>
									Разовьёте гибкость суставов и позвоночника. Избавитесь от дискомфорта и болевых ощущений.
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-about">
								<h4>Что испытаете</h4>
								<p>
									Почувствуете своё тело, научитесь его слушать, понимать его потребности и принимать свои ощущения.
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-about">
								<h4>Почему стоит выбрать нас</h4>
								<p>
									Улучшите свою осанку, тонус мышечной системы и благодаря этому станете гораздо привлекательнее внешне.
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-about">
								<h4>Что нового узнаете</h4>
								<p>
									Узнаете и начнёте применять техники, гасящие колебания ума, что стабилизирует ваше эмоциональное состояние
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 about-left">
					<img class="img-fluid" src="{% static 'img/about-img.png' %}" width="450" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End About Us Area -->


	<!-- Start testomial Area -->
	<section class="testomial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>Отзывы клиентов</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="active-testimonial-carusel">
					{% for comment in comment_list %}
						{% if comment.is_checked%}
							<div class="single-testimonial item">
								<img class="mx-auto rounded-circle comment-img" src="/media/{{ comment.photo }}" height="80" alt="">
								<p class="desc">
									{{comment.comment}}
								</p>
								<h4>{{comment.user_name}}</h4><br>
								<h6>{% if comment.course %}{{comment.course}}{% endif %}</h6>
								<p>{{comment.experience}}</p>
							</div>
						{% endif %}
					{% endfor %}

				</div>
			</div>





				<div class="create-comment col-lg-12 col-md-12">
					<a href="{% url 'comment' %}" class="primary-btn mt-40">Оставить комментарий</a>
				</div>







		</div>
	</section>
	<!-- End testomial Area -->

	<!-- Start cta-one Area -->
	<section class="cta-one-area relative section-gap">
		<img class="cta-img img-fluid start" src="{% static 'img/tren.png' %}" width="520" alt="">
		<div class="container">
			<div class="row justify-content-center">
				<div class="wrap grey">
					<h1>Все ещё думаете с чего начать?</h1>
					<p>
						Для тех, кто пока волнуется заниматься в группе или не хочет покидать свою уютную комнату,
						мы разработали авторские программы онлайн-йоги. А для тех, кто предпочитает живой контак,
						у нас всегда проходять оффлайн встречи. Переходите в раздел "Тренировки" и выберайте подходящую
						для Вас опцию.
					</p>
					<a class="primary-btn" href="{% url 'training:index' %}">Тренировки</a>
				</div>
			</div>
		</div>
	</section><br><br>
	<!-- End cta-one Area -->

	<!-- Start blog Area -->
	<section class="blog-area section-gap" style="padding-top: 0px">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>События</h1>
						<p>Что у нас нового?</p>
					</div>
				</div>
			</div>

			<div class="row">

				{% for post in object_list %}
				<div class="col-lg-4 col-md-6 col-sm-12 single-blog">
					<div class="thumb">
						<img class="img-fluid main-blog" src="/media/{{ post.image }}" alt="">
					</div>
					<a href="{% url 'blog:single' post.id %}"><h4>{{ post.headers }}</h4></a>
					<div class="text-wrap">
						<p>
							{{ post.short_description }}
						</p>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
	<!-- End blog Area -->
	{% endblock %}
