{% extends 'mainapp/base.html'%}
{%load static%}


  	{%block 'banner' %}
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container-fluid">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 banner-img">
					<img class="img-fluid" src="{% static 'img/banner-img.png' %}"  alt="">
				</div>
				<div class="banner-content col-lg-6 col-md-6">
					<h1 class="text-uppercase">
						<span>Йога онлайн</span> с <br> Анной Флешлер <br>

					</h1>
					<a href="{% url 'training:index' %}" class="primary-btn mt-40">Оформить заказ</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	{% endblock %}

	{%block 'content' %}
<!-- Start About Us Area -->
	<section class="about-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>Как YogaHanna может изменить твою жизнь</h1>
						<p>Онлайн курсы, авторские программы, онлайн мероприятия.</p>
					</div>
				</div>
			</div>

			<div class="row justify-content-between align-items-center">
				<div class="col-lg-6 about-right">
					<div class="row">
						<div class="col-lg-6">
							<div class="single-about">
								<h4>Какие навыки обретёте</h4>
								<p>
									Разовьёте гибкость суставов и позвоночника. Избавитесь от дискомфорта и болевых ощущений.
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-about">
								<h4>Что испытаете</h4>
								<p>
									Почувствуете своё тело, научитесь его слушать, понимать его потребности и принимать свои ощущения.
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-about">
								<h4>Почему стоит выбрать нас</h4>
								<p>
									Улучшите свою осанку, тонус мышечной системы и благодаря этому станете гораздо привлекательнее внешне.
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-about">
								<h4>Что нового узнаете</h4>
								<p>
									Узнаете и начнёте применять техники, гасящие колебания ума, что стабилизирует ваше эмоциональное состояние
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 about-left">
					<img class="img-fluid" src="{% static 'img/about-img.png' %}" width="450" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End About Us Area -->

	<!-- Start Features Area -->
<!--	<section class="feature-area section-gap">-->
<!--		<div class="container">-->
<!--			<div class="row d-flex justify-content-center">-->
<!--				<div class="col-lg-12">-->
<!--					<div class="section-title-wrap text-center">-->
<!--						<h1>Наши программы занятий</h1>-->
<!--						<p> Простые шаги для входа в состояние эмоционального равновесия. <br> Ваше тело скажет Вам спасибо.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--&lt;!&ndash;			There was deleted a the class = row in string num 182&ndash;&gt;-->
<!--&lt;!&ndash;			<div class="justify-content-center d-flex align-items-center" style="margin-right: 225px;margin-left: 225px;">&ndash;&gt;-->
<!--			<div class="justify-content-center d-flex align-items-center" >-->
<!--				<div class="col-lg-6 col-md-6 single-feature">-->
<!--					<figure>-->
<!--						<img class="img-fluid" src="{% static 'img/featured-class/f1.jpg' %}" width="300" alt="">-->
<!--						<div class="overlay overlay-bg"></div>-->
<!--					</figure>-->
<!--					<div class="text-center">-->
<!--						<h4 class="mb-10">Упражнения на каждый день</h4>-->
<!--						<p>-->
<!--							<a href="#">Купить курс</a>-->
<!--						</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-6 col-md-6 single-feature">-->
<!--					<figure>-->
<!--						<img class="img-fluid" src="{% static 'img/featured-class/f2.jpg' %}" width="300" alt="">-->
<!--						<div class="overlay overlay-bg"></div>-->
<!--					</figure>-->
<!--					<div class="text-center">-->
<!--						<h4 class="mb-10">Утренние разминки</h4>-->
<!--						<p>-->
<!--							<a href="#">Купить курс</a>-->
<!--						</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-6 col-md-6 single-feature">-->
<!--					<figure>-->
<!--						<img class="img-fluid" src="{% static 'img/featured-class/f3.jpg' %}" width="300" alt="">-->
<!--						<div class="overlay overlay-bg"></div>-->
<!--					</figure>-->
<!--					<div class="text-center">-->
<!--						<h4 class="mb-10">Красивая шея</h4>-->
<!--						<p>-->
<!--							<a href="#">Купить курс</a>-->
<!--						</p>-->
<!--					</div>-->
<!--				</div>-->


<!--				<div class="col-lg-6 col-md-6 single-feature">-->
<!--					<figure>-->
<!--						<img class="img-fluid" src="{% static 'img/featured-class/f4.jpg' %}" alt="">-->
<!--						<div class="overlay overlay-bg"></div>-->
<!--					</figure>-->
<!--					<div class="text-center">-->
<!--						<h4 class="mb-10">Get into shape now</h4>-->
<!--						<p>-->
<!--							<a href="#">Book an appointment</a>-->
<!--						</p>-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</div>
	</section>
	<!-- End Features Area -->

	<!-- Start schedule Area -->
<!--	<section class="schedule-area section-gap">-->
<!--		<img class="featured-img img-fluid" src="{% static 'img/featured-class/feature-img.png' %}" width="450" alt="">-->
<!--		<div class="container">-->

<!--			<div class="row d-flex justify-content-center">-->
<!--				<div class="col-lg-12">-->
<!--					<div class="section-title-wrap text-center">-->
<!--						<h1>Расписание занятий</h1>-->
<!--						<p>Идеальный день, чтобы начать.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="row justify-content-center">-->
<!--				<div class="table-wrap col-lg-10">-->
<!--					<table class="schdule-table table table-bordered">-->
<!--						<thead class="thead-light">-->
<!--							<tr>-->
<!--								<th class="head" scope="col">Виды занятий</th>-->
<!--								<th class="head" scope="col">Пн</th>-->
<!--								<th class="head" scope="col">Вт</th>-->
<!--								<th class="head" scope="col">Ср</th>-->
<!--								<th class="head" scope="col">Чт</th>-->
<!--								<th class="head" scope="col">Пт</th>-->
<!--								<th class="head" scope="col">Вс</th>-->
<!--							</tr>-->
<!--						</thead>-->
<!--						<tbody>-->
<!--							<tr>-->
<!--								<th class="name" scope="row">Pilates Strong</th>-->
<!--								<td>10.30</td>-->
<!--								<td>—</td>-->
<!--								<td>10.30</td>-->
<!--								<td>—</td>-->
<!--								<td>10.30</td>-->
<!--								<td>—</td>-->
<!--							</tr>-->
<!--							<tr>-->
<!--								<th class="name" scope="row">Йога</th>-->
<!--								<td>—</td>-->
<!--								<td>18.00<br>19.00</td>-->
<!--								<td>—</td>-->
<!--								<td>18.00<br>19.00</td>-->
<!--								<td>—</td>-->
<!--								<td>10.00</td>-->
<!--							</tr>-->

<!--						</tbody>-->
<!--					</table>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- End schedule Area -->

	<!-- Start testomial Area -->
	<section class="testomial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>Отзывы клиентов</h1>
<!--						<p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening.</p>-->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="active-testimonial-carusel">
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/Елена Шестакова.png' %}" height="80" alt="">
						<p class="desc">
							Неделя медосномтра просто СУПЕР! Эффект чувствуется практически сразу. Все уроки очень понравились, но,
							пожалуй, Урок 2 мне стоит включить в ежедневную практику. Боль в тазобедренном суставе успокоилась после
							этого урока. Спасибо огромное!
						</p>
						<h4>Ирина</h4>
						<p>
							занимается 5 лет
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/Надежда Байраак.png' %}" height="80" alt="">
						<p class="desc">
							У меня такое чувство, что расправился позвоночник в грудном отделе (как после сеанса мануального терапевта).
							Иприбавилось энергии.
						</p>
						<h4>Надежда</h4>
						<p>
							занимается 3 года
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/Анна Туманова.png' %}" height="80" alt="">
						<p class="desc">
							Спина воспряла, Ваше наставление помогает сделать над собой усилие и благополучно завершить практику, а мне всегда сложно
							просто взять в руки коврик и заставить себя заниматься!
						</p>
						<h4>Анна</h4>
						<p>
							занимается 2 месяца
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/t1.png' %}" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector,
							hardware and more. laptop accessory
						</p>
						<h4>Helena Phillips</h4>
						<p>
							CEO at Facebook
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/t2.png' %}" alt="">
						<p class="desc">
							It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has
							been achieving great heights so far as its.
						</p>
						<h4>Cordelia Barton</h4>
						<p>
							CEO at Twitter
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/t3.png' %}" alt="">
						<p class="desc">
							About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about. 11% of all
							adult internet users visit dating websites.
						</p>
						<h4>Carrie Reese</h4>
						<p>
							CEO at Google
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/t1.png' %}" alt="">
						<p class="desc">
							Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector,
							hardware and more. laptop accessory
						</p>
						<h4>Helena Phillips</h4>
						<p>
							CEO at Facebook
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/t2.png' %}" alt="">
						<p class="desc">
							It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has
							been achieving great heights so far as its.
						</p>
						<h4>Cordelia Barton</h4>
						<p>
							CEO at Twitter
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="{% static 'img/t3.png' %}" alt="">
						<p class="desc">
							About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about. 11% of all
							adult internet users visit dating websites.
						</p>
						<h4>Carrie Reese</h4>
						<p>
							CEO at Google
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End testomial Area -->

	<!-- Start cta-one Area -->
	<section class="cta-one-area relative section-gap">
		<img class="cta-img img-fluid" src="{% static 'img/tren.png' %}" width="520" alt="">
		<div class="container">
			<div class="row justify-content-center">
				<div class="wrap grey">
					<h1>Все ещё думаете с чего начать?</h1>
					<p>
						Для тех, кто пока волнуется заниматься в группе или не хочет покидать свою уютную комнату,
						мы разработали авторские программы онлайн-йоги. А для тех, кто предпочитает живой контак,
						у нас всегда проходять оффлайн встречи. Переходите в раздел "Тренировки" и выберайте подходящую
						для Вас опцию.
					</p>
					<a class="primary-btn" href="{% url 'training:index' %}">Тренировки</a>
				</div>
			</div>
		</div>
	</section><br><br>
	<!-- End cta-one Area -->

	<!-- Start blog Area -->
	<section class="blog-area section-gap" style="padding-top: 0px">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title-wrap text-center">
						<h1>События</h1>
						<p>Что у нас нового?</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/kalin.jpg' %}" style="width:'220px'; height:'360px'"  alt="">
					</div>
					<a href="single-blog.html"><h4>AQUA CAMP - Калининград</h4></a>
					<div class="text-wrap">
						<p>
							Насыщенный тур - море, заливы, реки, озёра Калининградской области.
							Мой первый опыт яхтинга, sup-сёрфинга и сплава на байдарках в самых живописных местах.
						</p>
					</div>
					<div class="meta-bottom d-flex">
						<p><span class="lnr lnr-calendar-full"></span> 15 Авг</p>
						<p><span class="lnr lnr-heart"></span> 45</p>
						<p><span class="lnr lnr-bubble"></span> 7</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/baikal.jpg' %}" alt="">
					</div>
					<a href="single-blog.html"><h4>Ретрит на Байкале</h4></a>
					<div class="text-wrap">
						<p>
							Остров Огой. Место мистическое, место силы. Как, впрочем, и весь Байкал. Но здесь,
							где находится Всеблагая Ступа Великого Просветления, дарующая освобождение через видение,
							это ощущается особенно остро.
						</p>
					</div>
					<div class="meta-bottom d-flex">
						<p><span class="lnr lnr-calendar-full"></span> 18 Июн</p>
						<p><span class="lnr lnr-heart"></span> 26</p>
						<p><span class="lnr lnr-bubble"></span> 3</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/abhaz.jpg' %}" alt="">
					</div>
					<a href="single-blog.html"><h4>Його-тур Абхазия</h4></a>
					<div class="text-wrap">
						<p>
							Практики прямо на брегу моря наедине с шумящим бризом. Поиск душевного равновесия и гармонии с собой.
						</p>
					</div>
					<div class="meta-bottom d-flex">
						<p><span class="lnr lnr-calendar-full"></span> 20 Июл</p>
						<p><span class="lnr lnr-heart"></span> 20</p>
						<p><span class="lnr lnr-bubble"></span> 6</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End blog Area -->
	{% endblock %}
