{%load static%}

<nav id="nav-menu-container">
    <ul class="nav-menu">
        <li><a class="{% if request.resolver_match.url_name == 'index'%} active {% endif %}" href="{% url 'index' %}">
            Главная</a>
        </li>

        <li><a class="{% if request.resolver_match.url_name == 'about'%} active {% endif %}" href="{% url 'about' %}">
            Обо мне</a>
        </li>

        <li><a class="{% if request.resolver_match.url_name == 'blog'%} active {% endif %}" href="blog.html">
            Блог</a>
        </li>

        <li class="menu-has-children">
            <a class="{% if request.resolver_match.url_name == 'training'%} active {% endif %}"
               href="{% url 'training' %}">Тренировки</a>
            <ul>
                <li><a href="blog-home.html">Онлайн курсы</a></li>
                <li><a href="{% url 'offline' %}">Очные занятия</a></li>
            </ul>
        </li>
        <li class="menu-has-children"><a href="">Pages</a>
            <ul>
                <li><a href="schedule.html">Schedule</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </li>
        <li><a class="{% if request.resolver_match.url_name == 'contact'%} active {% endif %}" href="{% url 'contact' %}">Контакты</a></li>
    </ul>
</nav>